In [6]:
import pandas as pd
import sqlite3
import pickle
import category_encoders as ce 
from sklearn.metrics import f1_score

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [7]:
df = pd.read_csv("CARS_1.csv")
df.head(2)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000

In [8]:
df.dtypes

car_name                object
reviews_count            int64
fuel_type               object
engine_displacement      int64
no_cylinder              int64
seating_capacity       float64
transmission_type       object
fuel_tank_capacity     float64
body_type               object
rating                 float64
starting_price           int64
ending_price             int64
max_torque_nm          float64
max_torque_rpm           int64
max_power_bhp          float64
max_power_rp             int64
dtype: object

In [9]:
print(df.isnull().sum())

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       1
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64

In [10]:
df.dropna(inplace=True)
df.isnull().sum()

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       0
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64

In [11]:
df.seating_capacity = df.seating_capacity.astype(int)

In [15]:
for c in df.columns:
    print(c)
    print(df[c].unique())

car_name
['Maruti Alto K10' 'Maruti Brezza' 'Mahindra Thar' 'Mahindra XUV700'
 'Mahindra Scorpio-N' 'Toyota Fortuner' 'Hyundai Creta' 'Tata Punch'
 'Mahindra Bolero' 'Maruti Swift' 'Tata Nexon' 'Hyundai Venue'
 'Kia Seltos' 'Hyundai Tucson' 'Tata Harrier' 'Maruti Baleno'
 'Toyota Innova Crysta' 'Maruti Ertiga' 'Kia Sonet' 'Maruti Dzire'
 'Honda City 4th Generation' 'Land Rover Range Rover' 'Tata Tiago'
 'Hyundai i20' 'Mahindra XUV300' 'MG Hector' 'Tata Altroz'
 'Mahindra Scorpio Classic' 'Hyundai Verna' 'Citroen C3' 'Honda City'
 'Maruti Celerio' 'Nissan Magnite' 'Renault KWID' 'Land Rover Defender'
 'Maruti Alto 800' 'Hyundai Kona Electric' 'Tata Tigor' 'Renault Kiger'
 'Maruti S-Presso' 'MG Astor' 'Lamborghini Urus' 'Honda Amaze'
 'Renault Triber' 'Hyundai Alcazar' 'Hyundai Aura' 'Volkswagen Virtus'
 'Skoda Slavia' 'Maruti Ignis' 'Mercedes-Benz GLA' 'Volvo XC90'
 'Skoda Kushaq' 'Maruti XL6' 'Jeep Wrangler' 'Maruti Eeco' 'Force Gurkha'
 'Maruti S-Cross' 'Maruti Ciaz' 'Hyundai Santro' 'Volkswagen Taigun'
 'BMW X7' 'Audi Q7' 'Toyota Vellfire' 'Toyota Hilux' 'MG Gloster'
 'Lamborghini Aventador' 'BMW X1' 'BMW X5' 'Toyota Camry'
 'Volkswagen Tiguan' 'Rolls-Royce Ghost' 'Skoda Octavia' 'Skoda Superb'
 'Audi A6' 'Volvo XC40' 'Kia EV6' 'Volvo S90' 'Honda Jazz'
 'Land Rover Range Rover Velar' 'Honda WR-V' 'Volvo XC60' 'Skoda Kodiaq'
 'Audi A4' 'BMW X3' 'BMW Z4' 'BMW 3 Series Gran Limousine' 'Nissan Kicks'
 'Mahindra Marazzo' 'Mercedes-Benz C-Class' 'BMW X6' 'Mahindra Alturas G4'
 'Bajaj Qute (RE60)' 'Volkswagen Vento' 'Audi Q5' 'Ferrari Roma'
 'MG ZS EV' 'BMW 7 Series' 'Mercedes-Benz E-Class' 'BMW i4'
 'Land Rover Range Rover Sport' 'Jaguar F-TYPE' 'Datsun redi-GO'
 'BMW 2 Series' 'Isuzu D-Max' 'BMW 5 Series' 'Audi Q2' 'Mercedes-Benz GLS'
 'Porsche Cayenne' 'Citroen C5 Aircross' 'Datsun GO' 'Volvo S60'
 'Porsche Macan' 'Jaguar XE' 'BYD E6' 'Jaguar F-Pace' 'Tata Tiago NRG'
 'Mahindra KUV 100 NXT' 'Mini Cooper SE' 'Audi e-tron' 'Datsun GO Plus'
 'Mercedes-Benz AMG G 63' 'Mercedes-Benz AMG GT' 'Lexus ES'
 'Porsche Taycan' 'Lexus LS' 'Rolls-Royce Cullinan' 'Isuzu MU-X' 'BMW iX'
 'Bentley Flying Spur' 'Mercedes-Benz S-Class' 'Maserati Quattroporte'
 'Jaguar XF' 'Mercedes-Benz GLC' 'Ferrari Portofino'
 'Mercedes-Benz Maybach S-Class' 'Maserati Levante' 'Tata Yodha Pickup'
 'Aston Martin DBX' 'Bentley Continental' 'Mercedes-Benz EQS'
 'Ferrari 812' 'Audi RS7' 'Mercedes-Benz AMG GLE 63 S'
 'Mercedes-Benz G-Class' 'Nissan GT-R' 'BMW M2' 'Mahindra E Verito'
 'Rolls Royce Wraith' 'Mercedes-Benz V-Class' 'Porsche 911'
 'Porsche Panamera' 'Mini Cooper Convertible' 'Maserati Ghibli' 'Lexus NX'
 'Land Rover Discovery Sport' 'Bentley Bentayga' 'Ferrari SF90 Stradale'
 'Strom Motors R3' 'Lexus LC 500h' 'Maserati GranTurismo'
 'Ferrari F8 Tributo' 'Mercedes-Benz GLE' 'BMW M4 Competition'
 'BMW 8 Series' 'Mini Cooper Countryman' 'Mercedes-Benz A-Class Limousine'
 'Maserati GranCabrio' 'Mercedes-Benz AMG GLE 53' 'Aston Martin Vantage'
 'Mercedes-Benz EQC' 'Mercedes-Benz AMG C 43' 'Lexus RX'
 'Hyundai Xcent Prime' 'Jaguar I-Pace' 'Rolls Royce Dawn' 'BMW X5 M'
 'Lamborghini Huracan EVO' 'Mini Cooper 3 DOOR' 'Mercedes-Benz CLS'
 'Mahindra Bolero PikUp ExtraLong' 'Lexus LX' 'Mercedes-Benz AMG GLC 43'
 'Mahindra Bolero Camper' 'Tata Nexon EV Max' 'Mahindra Bolero Neo'
 'Audi e-tron GT' 'Maruti Swift Dzire Tour' 'Mercedes-Benz AMG A 35'
 'Mercedes-Benz GLC Coupe' 'Toyota Glanza' 'Porsche Cayenne Coupe'
 'Honda City Hybrid' 'Compass Trailhawk' 'Jeep Meridian'
 'Mercedes-Benz AMG A 45 S' 'MG Hector Plus' 'Audi RS Q8'
 'Maruti Alto 800 tour']
reviews_count
[  51   86  242  313  107   99  731  381  205  568   36 2171    8 2392
  137   91  110  523  245 1067   17  435  432 2245  200 1025   14  234
   57  162   89  278  545   13  437   40  136  228  301  101   33   85
  774  207  261   69   52  461   12   35  172   58   18  264   28   77
  666  532   68   15    9   74    6    5   20   22   19   41   81   24
   10   23   43  257  321   11    4  122   94    3    2   16    7   67
   44  312  226  307   31   38    1   30   60   88   97   21   78]
fuel_type
['Petrol' 'Diesel' 'CNG' 'Electric']
engine_displacement
[ 998 1462 2184 2198 2755 1493 1199 1498 1197 1497 1997 1956 2393 4367
  999 4997  796    0 1349 3996 1950 1969 1998 1196 2596 1086 2993 2995
 2494 1996 6498 1995 2998 2498 1984 6750 1330 1993 2157  216 3855 2925
 2997 5000 1898 3982 1198 2894 4999 2487 3456 5950 2999 3799 5980 2979
 2956 5998 6496 3798 6592 2143 2981 3956 3990 4691 3902 4395 3998 2996
 6598 5204 2523 5663 1991]
no_cylinder
[ 3  4  8  0  6 12  5  1 10]
seating_capacity
[5 4 7 8 6 2]
transmission_type
['Automatic' 'Manual' 'Electric']
fuel_tank_capacity
[ 27.   48.   57.   60.   80.   50.   37.   44.   45.   54.   55.   40.
  90.   42.   30.   32.   28.   89.    0.   75.   35.   68.   65.   63.
  43.   58.   51.   66.   73.   82.   70.   52.   59.   83.   46.   52.5
  61.7  81.   85.   92.  100.   74.   64.   86.   78.   93. ]
body_type
['Hatchback' 'SUV' 'MUV' 'Sedan' 'Hybrid' 'Minivan' 'Pickup Truck' 'Coupe'
 'Convertible' 'Luxury' 'Wagon']
rating
[4.5 4.  3.5 5.  3. ]
starting_price
[  399000   799000  1353000  1318000  1199000  3240000  1044000   593000
   933000   592000   760000   753000  1049000  2770000  1470000   649000
  1786000   835000   749000   624000   950000 23900000   540000   703000
   841000  1415000   630000   941000   571000  1157000   525000   597000
   464000  8072000   339000  2384000   600000   599000   425000  1022000
 31500000   663000  1589000   609000  1122000  1099000   535000  4490000
  9390000  1129000  5635000   463000  1449000   895000   899000   490000
  1140000 11800000  8249000  9260000  3399000  3150000 62500000  4150000
  7990000  4435000  3279000 69500000  2685000  3349000  5999000  4450000
  5995000  6590000   801000  8941000   911000  3749000  4312000  6190000
  7190000  4690000  1317000  5500000 10400000  3188000   361000  1000000
  5990000 37600000  2200000 14200000  6700000  6990000 16400000  9813000
   398000  1300000  6450000  3499000 11600000 12700000  3224000   403000
  4590000  8321000  4664000  2915000  7488000   642000   618000  5090000
 10100000   426000 25500000 27100000  5950000 15300000 19100000  3500000
 32200000 16000000 17100000  7160000  6200000 35000000 25000000 14900000
   695000 38200000 32900000 25400000 57500000 22400000 21500000 17200000
 21200000  8500000   913000 62200000  7110000 17300000 15800000  5150000
 11500000  6490000  6530000 41000000   450000 21600000 22500000 40200000
  8580000 14400000 16200000  4200000 13700000 15900000 30000000  9950000
  8247000 11100000   726000 12000000 70600000 20800000 32100000  4000000
  8470000   885000 23300000  8700000   927000  2999000   903000 13500000
  5800000  1989000  3132000  2990000  5590000 18900000   391000  8150000
  5450000  1615000   659000  1041000 21700000]
ending_price
[  583000  1396000  1603000  2458000  2390000  4957000  1818000   949000
  1026000   885000  1408000  1272000  1865000  3454000  2220000   971000
  2654000  1279000  1379000   918000  1000000 41700000   782000  1154000
  1407000  2011000  1025000  1549000  1545000   806000  1552000   700000
  1079000   599000 21900000   503000  2403000   859000  1062000  1813000
 34300000  1150000   851000  2025000   887000  1792000  1839000   772000
  4890000  9665000  1949000  1455000  6035000   594000  1449000  1292000
  1198000   642000  1860000 17800000  8808000  9260000  3680000  3950000
 90000000  4450000  9590000  4435000  3280000 79500000  2985000  3659000
  6599000  6495000  6590000  1032000  8941000  1231000  3999000  4997000
  6790000  8490000  6890000  1490000  1544000  6100000 10400000  3188000
   361000  1444000  6555000 37600000  2588000 17600000  8500000  6990000
 18400000 15300000   496000  2700000  7450000  4889000 24700000 19300000
  3378000   651000  4590000 14700000  4850000  2915000 15600000   738000
   784000  5090000 11900000 25500000 27100000  6560000 23400000 22200000
 69500000  3790000 11600000 34100000 16900000 21200000  7600000  6800000
 35000000 32000000 16400000   750000 38200000 39100000 25400000 57500000
 22400000 21500000 17200000   946000 72100000 14600000 31400000  5150000
  7160000  7139000 41000000   450000 22000000 25100000 40200000 12500000
 14400000 22300000  4600000  4400000 15900000  9950000  8247000 11100000
   726000 12400000 76400000 20800000 49900000  4000000  8470000   912000
 23300000  8700000   976000  3549000  1173000 25700000  5800000  1989000
  3132000  3695000  5590000 18900000   397000  8150000  5690000  2075000
   999000  1041000 21700000]
max_torque_nm
[  89.    136.8   300.    450.    400.    500.    250.    113.    210.
  260.    172.    416.    350.    360.    145.    700.     95.    171.62
  200.    190.    152.     91.    650.     60.    395.    220.    850.
  160.     96.    640.     85.    138.     85.3   760.    198.    480.
  720.    221.    320.    820.    370.    605.    110.    365.    440.
  254.    550.    420.     16.1   175.    280.    600.    430.    580.
  620.    730.    770.    104.    180.    115.    270.    664.    202.
  630.    900.   1020.    718.    800.    637.    380.    239.     90.
  520.    750.    675.    335.     97.96  696.    565.    530.    127.
   69.  ]
max_torque_rpm
[3500 4400 2800 2750 3400 2200 4000 2500 2600 4600 3000 1750 4250    0
 3600 4500 4200 1740 2400 4501 6750 5200 4100 1500 3990 4800 1600 4300
 5750 5000 3200  500 4180 2000 5600 3300 1000 5500 5100 5250 7000 5800
 5230 1250 6000 4750 3250 1350 6500 2250]
max_power_bhp
[ 65.71 101.65 130.   182.38 172.45 201.15 113.45  84.48  74.96  88.5
 108.49 118.41 113.43 183.72 167.67 148.   117.6  345.98  72.   118.36
 115.   167.68  88.77 130.07 108.62  97.89  98.63  67.06 296.36  40.36
 134.1   72.4  138.08 641.    79.12  71.   113.42 147.51 147.52  81.8
 187.74 400.   268.    61.68  89.84 103.25  59.17 394.26 335.25 115.32
 215.01 759.01 335.26 175.67 563.   241.3  187.4  320.55 246.58 246.74
 248.08 335.   254.79 153.87 120.96 261.49 178.49  10.8  245.59 611.5
 173.83 281.6  281.61 443.8   67.05 160.92 549.81 550.   174.33  76.43
 190.   434.49  93.87 543.11  82.   181.03 300.   576.63 214.56 482.76
 354.   321.84 626.   362.07 530.   194.   591.79 603.46 350.    85.
 542.   562.   750.97 788.52 591.   562.2  410.    41.57 161.   680.
 189.08 330.   245.4  769.31  20.11 295.02 460.   710.74 325.8  502.88
 600.   435.   402.3  384.87 258.81  65.39 616.87 630.28  75.09 362.
 141.04 100.   522.99  70.4  301.73 241.38 631.62  96.55 170.   415.71
 591.39  47.33]
max_power_rp
[5500 6000 3750 3500 3400 4000 3600 6600 5000    0 5600 6250 3800 5250
 3200 4400 6400 4700 8500 6500 5700 5200 4200 7500 4600 5550 6100 6800
 4250 5750 3000 1500 7000 8000 5800 6750]
brand
['Maruti' 'Mahindra' 'Toyota' 'Hyundai' 'Tata' 'Kia' 'Honda' 'Land' 'MG'
 'Citroen' 'Nissan' 'Renault' 'Lamborghini' 'Volkswagen' 'Skoda'
 'Mercedes-Benz' 'Volvo' 'Jeep' 'Force' 'BMW' 'Audi' 'Rolls-Royce' 'Bajaj'
 'Ferrari' 'Jaguar' 'Datsun' 'Isuzu' 'Porsche' 'BYD' 'Mini' 'Lexus'
 'Bentley' 'Maserati' 'Aston' 'Rolls' 'Strom' 'Compass']

In [14]:
df['brand'] = df['car_name'].apply(lambda x: x.split()[0])
df.brand.unique()

array(['Maruti', 'Mahindra', 'Toyota', 'Hyundai', 'Tata', 'Kia', 'Honda',
       'Land', 'MG', 'Citroen', 'Nissan', 'Renault', 'Lamborghini',
       'Volkswagen', 'Skoda', 'Mercedes-Benz', 'Volvo', 'Jeep', 'Force',
       'BMW', 'Audi', 'Rolls-Royce', 'Bajaj', 'Ferrari', 'Jaguar',
       'Datsun', 'Isuzu', 'Porsche', 'BYD', 'Mini', 'Lexus', 'Bentley',
       'Maserati', 'Aston', 'Rolls', 'Strom', 'Compass'], dtype=object)

In [16]:
df['average_price'] = round((df['starting_price']+df['ending_price'])/2,2)

In [20]:
mean_engine_displacement = df.engine_displacement.mean()
mean_tank_capacity = df.fuel_tank_capacity.mean()
df.fuel_tank_capacity = df.fuel_tank_capacity.replace(0, mean_tank_capacity)
df.engine_displacement = df.engine_displacement.replace(0, mean_engine_displacement)

In [21]:
df['fuel_efficiency'] = df['fuel_tank_capacity'] / df['engine_displacement']
# mean_fuel_efficiency = df['fuel_efficiency'].mean()
# df['fuel_efficiency'].fillna(mean_fuel_efficiency, inplace=True)
df.fuel_efficiency.unique()

array([0.02705411, 0.03283174, 0.0260989 , 0.02729754, 0.02593267,
       0.02903811, 0.03348962, 0.03085905, 0.0400534 , 0.03091061,
       0.02939212, 0.04509018, 0.02704056, 0.02556237, 0.0229837 ,
       0.03077975, 0.03014066, 0.02672011, 0.02060911, 0.0500417 ,
       0.03707415, 0.02805611, 0.03067485, 0.0247161 , 0.02747253,
       0.02502085, 0.02670227, 0.03206413, 0.04004004, 0.02802803,
       0.01781069, 0.07537688, 0.0200281 , 0.03335804, 0.01876877,
       0.02336449, 0.03004005, 0.0267335 , 0.02359787, 0.0345353 ,
       0.03337784, 0.02303095, 0.05434783, 0.0242681 , 0.02941176,
       0.05524862, 0.02672903, 0.01536422, 0.02325581, 0.03757515,
       0.01385042, 0.02556391, 0.01534885, 0.01842107, 0.03024194,
       0.00681716, 0.02520161, 0.03326613, 0.03679435, 0.02742509,
       0.03047232, 0.03336113, 0.04106159, 0.03503504, 0.02923387,
       0.02702703, 0.0173449 , 0.02952953, 0.03759398, 0.03006012,
       0.02308873, 0.02768512, 0.03245248, 0.16203704, 0.05505506,
       0.02319347, 0.02075227, 0.01534356, 0.01573191, 0.01535397,
       0.014     , 0.02424438, 0.01537449, 0.02772177, 0.02260171,
       0.02252252, 0.02628943, 0.02921536, 0.02337016, 0.02246026,
       0.03089634, 0.01640328, 0.02919099, 0.01155596, 0.01883476,
       0.02613591, 0.02372685, 0.02897787, 0.01512605, 0.01534373,
       0.02105817, 0.02304248, 0.03384615, 0.02101167, 0.00769496,
       0.02685465, 0.01522327, 0.02134606, 0.015005  , 0.01416256,
       0.01826827, 0.03418803, 0.01948394, 0.01745552, 0.01259102,
       0.02659823, 0.02146931, 0.01590043, 0.02202202, 0.022115  ,
       0.03505258, 0.02148635, 0.01704261, 0.01833298, 0.01998975,
       0.03179487, 0.01547213, 0.02552553, 0.01598806, 0.02834278,
       0.01825913, 0.01535909, 0.01880787, 0.05430242, 0.00697421,
       0.0188851 , 0.01537279, 0.02378121, 0.01642239, 0.02259215,
       0.0459482 , 0.02561527, 0.01151548, 0.03003003, 0.02311192,
       0.02126063, 0.04396985])

In [22]:
conn = sqlite3.connect('instance/majordb.db')
df.to_sql('cars', conn, if_exists='replace', index=False)
conn.commit()
conn.close()

fetch data

In [23]:
conn = sqlite3.connect('instance/majordb.db')

fetched_data = pd.read_sql("SELECT * FROM cars", conn)
conn.close()
fetched_data.head(2)

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,brand,average_price,fuel_efficiency
0,Maruti Alto K10,51,Petrol,998.0,3,5,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500,Maruti,491000.0,0.027054
1,Maruti Brezza,86,Petrol,1462.0,4,5,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000,Maruti,1097500.0,0.032832

In [24]:
for c in fetched_data.columns:
    print(c)
    print(fetched_data[c].unique())

car_name
['Maruti Alto K10' 'Maruti Brezza' 'Mahindra Thar' 'Mahindra XUV700'
 'Mahindra Scorpio-N' 'Toyota Fortuner' 'Hyundai Creta' 'Tata Punch'
 'Mahindra Bolero' 'Maruti Swift' 'Tata Nexon' 'Hyundai Venue'
 'Kia Seltos' 'Hyundai Tucson' 'Tata Harrier' 'Maruti Baleno'
 'Toyota Innova Crysta' 'Maruti Ertiga' 'Kia Sonet' 'Maruti Dzire'
 'Honda City 4th Generation' 'Land Rover Range Rover' 'Tata Tiago'
 'Hyundai i20' 'Mahindra XUV300' 'MG Hector' 'Tata Altroz'
 'Mahindra Scorpio Classic' 'Hyundai Verna' 'Citroen C3' 'Honda City'
 'Maruti Celerio' 'Nissan Magnite' 'Renault KWID' 'Land Rover Defender'
 'Maruti Alto 800' 'Hyundai Kona Electric' 'Tata Tigor' 'Renault Kiger'
 'Maruti S-Presso' 'MG Astor' 'Lamborghini Urus' 'Honda Amaze'
 'Renault Triber' 'Hyundai Alcazar' 'Hyundai Aura' 'Volkswagen Virtus'
 'Skoda Slavia' 'Maruti Ignis' 'Mercedes-Benz GLA' 'Volvo XC90'
 'Skoda Kushaq' 'Maruti XL6' 'Jeep Wrangler' 'Maruti Eeco' 'Force Gurkha'
 'Maruti S-Cross' 'Maruti Ciaz' 'Hyundai Santro' 'Volkswagen Taigun'
 'BMW X7' 'Audi Q7' 'Toyota Vellfire' 'Toyota Hilux' 'MG Gloster'
 'Lamborghini Aventador' 'BMW X1' 'BMW X5' 'Toyota Camry'
 'Volkswagen Tiguan' 'Rolls-Royce Ghost' 'Skoda Octavia' 'Skoda Superb'
 'Audi A6' 'Volvo XC40' 'Kia EV6' 'Volvo S90' 'Honda Jazz'
 'Land Rover Range Rover Velar' 'Honda WR-V' 'Volvo XC60' 'Skoda Kodiaq'
 'Audi A4' 'BMW X3' 'BMW Z4' 'BMW 3 Series Gran Limousine' 'Nissan Kicks'
 'Mahindra Marazzo' 'Mercedes-Benz C-Class' 'BMW X6' 'Mahindra Alturas G4'
 'Bajaj Qute (RE60)' 'Volkswagen Vento' 'Audi Q5' 'Ferrari Roma'
 'MG ZS EV' 'BMW 7 Series' 'Mercedes-Benz E-Class' 'BMW i4'
 'Land Rover Range Rover Sport' 'Jaguar F-TYPE' 'Datsun redi-GO'
 'BMW 2 Series' 'Isuzu D-Max' 'BMW 5 Series' 'Audi Q2' 'Mercedes-Benz GLS'
 'Porsche Cayenne' 'Citroen C5 Aircross' 'Datsun GO' 'Volvo S60'
 'Porsche Macan' 'Jaguar XE' 'BYD E6' 'Jaguar F-Pace' 'Tata Tiago NRG'
 'Mahindra KUV 100 NXT' 'Mini Cooper SE' 'Audi e-tron' 'Datsun GO Plus'
 'Mercedes-Benz AMG G 63' 'Mercedes-Benz AMG GT' 'Lexus ES'
 'Porsche Taycan' 'Lexus LS' 'Rolls-Royce Cullinan' 'Isuzu MU-X' 'BMW iX'
 'Bentley Flying Spur' 'Mercedes-Benz S-Class' 'Maserati Quattroporte'
 'Jaguar XF' 'Mercedes-Benz GLC' 'Ferrari Portofino'
 'Mercedes-Benz Maybach S-Class' 'Maserati Levante' 'Tata Yodha Pickup'
 'Aston Martin DBX' 'Bentley Continental' 'Mercedes-Benz EQS'
 'Ferrari 812' 'Audi RS7' 'Mercedes-Benz AMG GLE 63 S'
 'Mercedes-Benz G-Class' 'Nissan GT-R' 'BMW M2' 'Mahindra E Verito'
 'Rolls Royce Wraith' 'Mercedes-Benz V-Class' 'Porsche 911'
 'Porsche Panamera' 'Mini Cooper Convertible' 'Maserati Ghibli' 'Lexus NX'
 'Land Rover Discovery Sport' 'Bentley Bentayga' 'Ferrari SF90 Stradale'
 'Strom Motors R3' 'Lexus LC 500h' 'Maserati GranTurismo'
 'Ferrari F8 Tributo' 'Mercedes-Benz GLE' 'BMW M4 Competition'
 'BMW 8 Series' 'Mini Cooper Countryman' 'Mercedes-Benz A-Class Limousine'
 'Maserati GranCabrio' 'Mercedes-Benz AMG GLE 53' 'Aston Martin Vantage'
 'Mercedes-Benz EQC' 'Mercedes-Benz AMG C 43' 'Lexus RX'
 'Hyundai Xcent Prime' 'Jaguar I-Pace' 'Rolls Royce Dawn' 'BMW X5 M'
 'Lamborghini Huracan EVO' 'Mini Cooper 3 DOOR' 'Mercedes-Benz CLS'
 'Mahindra Bolero PikUp ExtraLong' 'Lexus LX' 'Mercedes-Benz AMG GLC 43'
 'Mahindra Bolero Camper' 'Tata Nexon EV Max' 'Mahindra Bolero Neo'
 'Audi e-tron GT' 'Maruti Swift Dzire Tour' 'Mercedes-Benz AMG A 35'
 'Mercedes-Benz GLC Coupe' 'Toyota Glanza' 'Porsche Cayenne Coupe'
 'Honda City Hybrid' 'Compass Trailhawk' 'Jeep Meridian'
 'Mercedes-Benz AMG A 45 S' 'MG Hector Plus' 'Audi RS Q8'
 'Maruti Alto 800 tour']
reviews_count
[  51   86  242  313  107   99  731  381  205  568   36 2171    8 2392
  137   91  110  523  245 1067   17  435  432 2245  200 1025   14  234
   57  162   89  278  545   13  437   40  136  228  301  101   33   85
  774  207  261   69   52  461   12   35  172   58   18  264   28   77
  666  532   68   15    9   74    6    5   20   22   19   41   81   24
   10   23   43  257  321   11    4  122   94    3    2   16    7   67
   44  312  226  307   31   38    1   30   60   88   97   21   78]
fuel_type
['Petrol' 'Diesel' 'CNG' 'Electric']
engine_displacement
[ 998.         1462.         2184.         2198.         2755.
 1493.         1199.         1498.         1197.         1497.
 1997.         1956.         2393.         4367.          999.
 4997.          796.         2297.56435644 1349.         3996.
 1950.         1969.         1998.         1196.         2596.
 1086.         2993.         2995.         2494.         1996.
 6498.         1995.         2998.         2498.         1984.
 6750.         1330.         1993.         2157.          216.
 3855.         2925.         2997.         5000.         1898.
 3982.         1198.         2894.         4999.         2487.
 3456.         5950.         2999.         3799.         5980.
 2979.         2956.         5998.         6496.         3798.
 6592.         2143.         2981.         3956.         3990.
 4691.         3902.         4395.         3998.         2996.
 6598.         5204.         2523.         5663.         1991.        ]
no_cylinder
[ 3  4  8  0  6 12  5  1 10]
seating_capacity
[5 4 7 8 6 2]
transmission_type
['Automatic' 'Manual' 'Electric']
fuel_tank_capacity
[ 27.          48.          57.          60.          80.
  50.          37.          44.          45.          54.
  55.          40.          90.          42.          30.
  32.          28.          89.          46.01584158  75.
  35.          68.          65.          63.          43.
  58.          51.          66.          73.          82.
  70.          52.          59.          83.          46.
  52.5         61.7         81.          85.          92.
 100.          74.          64.          86.          78.
  93.        ]
body_type
['Hatchback' 'SUV' 'MUV' 'Sedan' 'Hybrid' 'Minivan' 'Pickup Truck' 'Coupe'
 'Convertible' 'Luxury' 'Wagon']
rating
[4.5 4.  3.5 5.  3. ]
starting_price
[  399000   799000  1353000  1318000  1199000  3240000  1044000   593000
   933000   592000   760000   753000  1049000  2770000  1470000   649000
  1786000   835000   749000   624000   950000 23900000   540000   703000
   841000  1415000   630000   941000   571000  1157000   525000   597000
   464000  8072000   339000  2384000   600000   599000   425000  1022000
 31500000   663000  1589000   609000  1122000  1099000   535000  4490000
  9390000  1129000  5635000   463000  1449000   895000   899000   490000
  1140000 11800000  8249000  9260000  3399000  3150000 62500000  4150000
  7990000  4435000  3279000 69500000  2685000  3349000  5999000  4450000
  5995000  6590000   801000  8941000   911000  3749000  4312000  6190000
  7190000  4690000  1317000  5500000 10400000  3188000   361000  1000000
  5990000 37600000  2200000 14200000  6700000  6990000 16400000  9813000
   398000  1300000  6450000  3499000 11600000 12700000  3224000   403000
  4590000  8321000  4664000  2915000  7488000   642000   618000  5090000
 10100000   426000 25500000 27100000  5950000 15300000 19100000  3500000
 32200000 16000000 17100000  7160000  6200000 35000000 25000000 14900000
   695000 38200000 32900000 25400000 57500000 22400000 21500000 17200000
 21200000  8500000   913000 62200000  7110000 17300000 15800000  5150000
 11500000  6490000  6530000 41000000   450000 21600000 22500000 40200000
  8580000 14400000 16200000  4200000 13700000 15900000 30000000  9950000
  8247000 11100000   726000 12000000 70600000 20800000 32100000  4000000
  8470000   885000 23300000  8700000   927000  2999000   903000 13500000
  5800000  1989000  3132000  2990000  5590000 18900000   391000  8150000
  5450000  1615000   659000  1041000 21700000]
ending_price
[  583000  1396000  1603000  2458000  2390000  4957000  1818000   949000
  1026000   885000  1408000  1272000  1865000  3454000  2220000   971000
  2654000  1279000  1379000   918000  1000000 41700000   782000  1154000
  1407000  2011000  1025000  1549000  1545000   806000  1552000   700000
  1079000   599000 21900000   503000  2403000   859000  1062000  1813000
 34300000  1150000   851000  2025000   887000  1792000  1839000   772000
  4890000  9665000  1949000  1455000  6035000   594000  1449000  1292000
  1198000   642000  1860000 17800000  8808000  9260000  3680000  3950000
 90000000  4450000  9590000  4435000  3280000 79500000  2985000  3659000
  6599000  6495000  6590000  1032000  8941000  1231000  3999000  4997000
  6790000  8490000  6890000  1490000  1544000  6100000 10400000  3188000
   361000  1444000  6555000 37600000  2588000 17600000  8500000  6990000
 18400000 15300000   496000  2700000  7450000  4889000 24700000 19300000
  3378000   651000  4590000 14700000  4850000  2915000 15600000   738000
   784000  5090000 11900000 25500000 27100000  6560000 23400000 22200000
 69500000  3790000 11600000 34100000 16900000 21200000  7600000  6800000
 35000000 32000000 16400000   750000 38200000 39100000 25400000 57500000
 22400000 21500000 17200000   946000 72100000 14600000 31400000  5150000
  7160000  7139000 41000000   450000 22000000 25100000 40200000 12500000
 14400000 22300000  4600000  4400000 15900000  9950000  8247000 11100000
   726000 12400000 76400000 20800000 49900000  4000000  8470000   912000
 23300000  8700000   976000  3549000  1173000 25700000  5800000  1989000
  3132000  3695000  5590000 18900000   397000  8150000  5690000  2075000
   999000  1041000 21700000]
max_torque_nm
[  89.    136.8   300.    450.    400.    500.    250.    113.    210.
  260.    172.    416.    350.    360.    145.    700.     95.    171.62
  200.    190.    152.     91.    650.     60.    395.    220.    850.
  160.     96.    640.     85.    138.     85.3   760.    198.    480.
  720.    221.    320.    820.    370.    605.    110.    365.    440.
  254.    550.    420.     16.1   175.    280.    600.    430.    580.
  620.    730.    770.    104.    180.    115.    270.    664.    202.
  630.    900.   1020.    718.    800.    637.    380.    239.     90.
  520.    750.    675.    335.     97.96  696.    565.    530.    127.
   69.  ]
max_torque_rpm
[3500 4400 2800 2750 3400 2200 4000 2500 2600 4600 3000 1750 4250    0
 3600 4500 4200 1740 2400 4501 6750 5200 4100 1500 3990 4800 1600 4300
 5750 5000 3200  500 4180 2000 5600 3300 1000 5500 5100 5250 7000 5800
 5230 1250 6000 4750 3250 1350 6500 2250]
max_power_bhp
[ 65.71 101.65 130.   182.38 172.45 201.15 113.45  84.48  74.96  88.5
 108.49 118.41 113.43 183.72 167.67 148.   117.6  345.98  72.   118.36
 115.   167.68  88.77 130.07 108.62  97.89  98.63  67.06 296.36  40.36
 134.1   72.4  138.08 641.    79.12  71.   113.42 147.51 147.52  81.8
 187.74 400.   268.    61.68  89.84 103.25  59.17 394.26 335.25 115.32
 215.01 759.01 335.26 175.67 563.   241.3  187.4  320.55 246.58 246.74
 248.08 335.   254.79 153.87 120.96 261.49 178.49  10.8  245.59 611.5
 173.83 281.6  281.61 443.8   67.05 160.92 549.81 550.   174.33  76.43
 190.   434.49  93.87 543.11  82.   181.03 300.   576.63 214.56 482.76
 354.   321.84 626.   362.07 530.   194.   591.79 603.46 350.    85.
 542.   562.   750.97 788.52 591.   562.2  410.    41.57 161.   680.
 189.08 330.   245.4  769.31  20.11 295.02 460.   710.74 325.8  502.88
 600.   435.   402.3  384.87 258.81  65.39 616.87 630.28  75.09 362.
 141.04 100.   522.99  70.4  301.73 241.38 631.62  96.55 170.   415.71
 591.39  47.33]
max_power_rp
[5500 6000 3750 3500 3400 4000 3600 6600 5000    0 5600 6250 3800 5250
 3200 4400 6400 4700 8500 6500 5700 5200 4200 7500 4600 5550 6100 6800
 4250 5750 3000 1500 7000 8000 5800 6750]
brand
['Maruti' 'Mahindra' 'Toyota' 'Hyundai' 'Tata' 'Kia' 'Honda' 'Land' 'MG'
 'Citroen' 'Nissan' 'Renault' 'Lamborghini' 'Volkswagen' 'Skoda'
 'Mercedes-Benz' 'Volvo' 'Jeep' 'Force' 'BMW' 'Audi' 'Rolls-Royce' 'Bajaj'
 'Ferrari' 'Jaguar' 'Datsun' 'Isuzu' 'Porsche' 'BYD' 'Mini' 'Lexus'
 'Bentley' 'Maserati' 'Aston' 'Rolls' 'Strom' 'Compass']
average_price
[  491000.  1097500.  1478000.  1888000.  1794500.  4098500.  1431000.
   771000.   979500.   738500.  1084000.  1012500.  1457000.  3112000.
  1845000.   810000.  2220000.  1057000.  1064000.   975000. 32800000.
   661000.   928500.  1124000.  1713000.   827500.  1374000.  1243000.
   688500.  1354500.   612500.   838000.   531500. 14986000.   421000.
  2393500.   729500.   830500.   512000.  1417500. 32900000.   906500.
   721500.  1807000.   748000.  1469000.   653500.  4690000.  9527500.
  1539000.  1292000.  5835000.   528500.  1449000.  1093500.  1048500.
   566000.  1500000. 14800000.  8528500.  9260000.  3539500.  3550000.
 76250000.  4300000.  8790000.  4435000.  3279500. 74500000.  2835000.
  3504000.  6299000.  4450000.  6245000.  6590000.   916500.  8941000.
  1071000.  3874000.  4654500.  6490000.  7840000.  5790000.  1220000.
  1430500.  5800000. 10400000.  3188000.   361000.  1222000.  6272500.
 37600000.  2394000. 15900000.  7600000.  6990000. 17400000. 12556500.
   447000.  2000000.  6950000.  4194000. 18150000. 16000000.  3301000.
   527000.  4590000. 11510500.  4757000.  2915000. 11544000.   690000.
   701000.  5090000. 11000000.   563000. 25500000. 27100000.  6255000.
 19350000. 20650000. 69500000.  3645000. 11600000. 33150000. 16450000.
 19150000.  7380000.  6500000. 35000000. 28500000. 15650000.   722500.
 38200000. 36000000. 25400000. 57500000. 22400000. 21500000. 17200000.
 21200000.  8500000.   929500. 67150000. 10855000. 24350000. 21450000.
  5150000. 15400000.  6825000.  6834500. 41000000.   450000. 21800000.
 23800000. 40200000. 10540000. 14400000. 19250000.  4400000. 19550000.
 32500000.  9950000.  8247000. 11100000.   726000. 12200000. 73500000.
 20800000.  4000000.  8470000.   898500. 23300000.  8700000.   951500.
  3274000.   523000.  1038000. 19600000.  1989000.  3132000.  3342500.
  5590000. 18900000.   394000.  8150000.  5570000.   829000.  1041000.
 21700000.]
fuel_efficiency
[0.02705411 0.03283174 0.0260989  0.02729754 0.02593267 0.02903811
 0.03348962 0.03085905 0.0400534  0.03091061 0.02939212 0.04509018
 0.02704056 0.02556237 0.0229837  0.03077975 0.03014066 0.02672011
 0.02060911 0.0500417  0.03707415 0.02805611 0.03067485 0.0247161
 0.02747253 0.02502085 0.02670227 0.03206413 0.04004004 0.02802803
 0.01781069 0.07537688 0.0200281  0.03335804 0.01876877 0.02336449
 0.03004005 0.0267335  0.02359787 0.0345353  0.03337784 0.02303095
 0.05434783 0.0242681  0.02941176 0.05524862 0.02672903 0.01536422
 0.02325581 0.03757515 0.01385042 0.02556391 0.01534885 0.01842107
 0.03024194 0.00681716 0.02520161 0.03326613 0.03679435 0.02742509
 0.03047232 0.03336113 0.04106159 0.03503504 0.02923387 0.02702703
 0.0173449  0.02952953 0.03759398 0.03006012 0.02308873 0.02768512
 0.03245248 0.16203704 0.05505506 0.02319347 0.02075227 0.01534356
 0.01573191 0.01535397 0.014      0.02424438 0.01537449 0.02772177
 0.02260171 0.02252252 0.02628943 0.02921536 0.02337016 0.02246026
 0.03089634 0.01640328 0.02919099 0.01155596 0.01883476 0.02613591
 0.02372685 0.02897787 0.01512605 0.01534373 0.02105817 0.02304248
 0.03384615 0.02101167 0.00769496 0.02685465 0.01522327 0.02134606
 0.015005   0.01416256 0.01826827 0.03418803 0.01948394 0.01745552
 0.01259102 0.02659823 0.02146931 0.01590043 0.02202202 0.022115
 0.03505258 0.02148635 0.01704261 0.01833298 0.01998975 0.03179487
 0.01547213 0.02552553 0.01598806 0.02834278 0.01825913 0.01535909
 0.01880787 0.05430242 0.00697421 0.0188851  0.01537279 0.02378121
 0.01642239 0.02259215 0.0459482  0.02561527 0.01151548 0.03003003
 0.02311192 0.02126063 0.04396985]

In [25]:
fetched_data.columns

Index(['car_name', 'reviews_count', 'fuel_type', 'engine_displacement',
       'no_cylinder', 'seating_capacity', 'transmission_type',
       'fuel_tank_capacity', 'body_type', 'rating', 'starting_price',
       'ending_price', 'max_torque_nm', 'max_torque_rpm', 'max_power_bhp',
       'max_power_rp', 'brand', 'average_price', 'fuel_efficiency'],
      dtype='object')

In [26]:
classification_dataset = fetched_data.drop(columns=['car_name'])

In [2]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(mapping=[
    {'col': 'transmission_type', 'mapping': {'Automatic': 1, 'Manual': 2, 'Electric': 3}},
    {'col': 'body_type', 'mapping': {'Hatchback': 1, 'SUV': 2, 'MUV': 3, 'Sedan': 4, 'Hybrid': 5,
                                      'Minivan': 6, 'Pickup Truck': 7, 'Coupe': 8, 'Convertible': 9,
                                      'Luxury': 10, 'Wagon': 11}},
    {'col': 'brand', 'mapping': {'Maruti': 1, 'Mahindra': 2, 'Toyota': 3, 'Hyundai': 4, 'Tata': 5,
                                  'Kia': 6, 'Honda': 7, 'Land': 8, 'MG': 9, 'Citroen': 10,
                                  'Nissan': 11, 'Renault': 12, 'Lamborghini': 13, 'Volkswagen': 14,
                                  'Skoda': 15, 'Mercedes-Benz': 16, 'Volvo': 17, 'Jeep': 18, 'Force': 19,
                                  'BMW': 20, 'Audi': 21, 'Rolls-Royce': 22, 'Bajaj': 23, 'Ferrari': 24,
                                  'Jaguar': 25, 'Datsun': 26, 'Isuzu': 27, 'Porsche': 28, 'BYD': 29,
                                  'Mini': 30, 'Lexus': 31, 'Bentley': 32, 'Maserati': 33, 'Aston': 34,
                                  'Rolls': 35, 'Strom': 36, 'Compass': 37}}
])
encoder.fit(classification_dataset)
classification_dataset = encoder.transform(classification_dataset)

ModuleNotFoundError: No module named 'category_encoders'

In [18]:
y = classification_dataset['fuel_type']
X = classification_dataset.drop(columns=['fuel_type'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


decision_tree_clf = DecisionTreeClassifier()
random_forest_clf = RandomForestClassifier()
logistic_regression_clf = LogisticRegression()

decision_tree_clf.fit(X_train, y_train)
random_forest_clf.fit(X_train, y_train)
logistic_regression_clf.fit(X_train, y_train)


dt_pred = decision_tree_clf.predict(X_test)
rf_pred = random_forest_clf.predict(X_test)
lr_pred = logistic_regression_clf.predict(X_test)

dt_f1 = f1_score(y_test, dt_pred, average='weighted')
rf_f1 = f1_score(y_test, rf_pred, average='weighted')
lr_f1 = f1_score(y_test, lr_pred, average='weighted')

print("Decision Tree F1 Score:", dt_f1)
print("Random Forest F1 Score:", rf_f1)
print("Logistic Regression F1 Score:", lr_f1)
X.columns

Decision Tree F1 Score: 0.8434303697875688
Random Forest F1 Score: 0.8989993746091307
Logistic Regression F1 Score: 0.37475803329461865

c:\Users\rande\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Index(['reviews_count', 'engine_displacement', 'no_cylinder',
       'seating_capacity', 'transmission_type', 'fuel_tank_capacity',
       'body_type', 'rating', 'starting_price', 'ending_price',
       'max_torque_nm', 'max_torque_rpm', 'max_power_bhp', 'max_power_rp',
       'brand', 'average_price', 'fuel_efficiency'],
      dtype='object')

In [19]:
pickle.dump(decision_tree_clf, open('ds1_clasi.pkl', 'wb'))

In [20]:
encoder = ce.OrdinalEncoder(mapping=[
    {'col': 'fuel_type', 'mapping': {'Petrol': 1, 'Diesel': 2, 'CNG': 3, 'Electric': 4}},
])
encoder.fit(classification_dataset)
classification_dataset = encoder.transform(classification_dataset)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

y = classification_dataset['average_price']
X = classification_dataset.drop(columns=['average_price'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_y_pred = linear_model.predict(X_test)
linear_rmse = mean_squared_error(y_test, linear_y_pred, squared=False)

# Initialize and train the Random Forest Regression model
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_y_pred = rf_model.predict(X_test)
rf_rmse = mean_squared_error(y_test, rf_y_pred, squared=False)

# Initialize and train the Gradient Boosting Regression model
gb_model = GradientBoostingRegressor()
gb_model.fit(X_train, y_train)
gb_y_pred = gb_model.predict(X_test)
gb_rmse = mean_squared_error(y_test, gb_y_pred, squared=False)

# Print RMSE for each model
print("Linear Regression RMSE:", linear_rmse)
print("Random Forest Regression RMSE:", rf_rmse)
print("Gradient Boosting Regression RMSE:", gb_rmse)
X.columns

c:\Users\rande\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

Linear Regression RMSE: 9.477020610985252e-09
Random Forest Regression RMSE: 1966668.789872338
Gradient Boosting Regression RMSE: 1949888.3514248678

c:\Users\rande\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(
c:\Users\rande\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

Index(['reviews_count', 'fuel_type', 'engine_displacement', 'no_cylinder',
       'seating_capacity', 'transmission_type', 'fuel_tank_capacity',
       'body_type', 'rating', 'starting_price', 'ending_price',
       'max_torque_nm', 'max_torque_rpm', 'max_power_bhp', 'max_power_rp',
       'brand', 'fuel_efficiency'],
      dtype='object')

In [22]:
pickle.dump(linear_model, open('ds1_reg.pkl', 'wb'))